:root{
    --primary-color: #0a192f;
    --secundary-color: #A8B2D1;
    --secundary-contrast: #E6F1FF;
    --primary-contrast: #64FFDA;


	--primary-contrast-opacity: #64ffdb17;
}


/*
	black: #06080D;
	gray1: #373A3B;
	dark_green: #185355;
	light_blue: #B5D7CD;
	gray2: #585D62;
	blue: #5CC4C4;
	red: #C36655;
	gray3: #6D8377;

*/