* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 60%;
}

body{
    font-size: 1.6rem;
}


/*SCROLL STYLE*/
*::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    
    background: rgba(87, 87, 87, 0.8);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*SCROLL STYLE*/