@media (max-width: 870px) {
	

	.home-link, .text-link{
		display: none;
	}

	header .navbar{
		display: flex;
    	align-items: center;
		justify-content: center;
    	
		width: auto;
    	margin: 2px auto;
    	padding: 10px 20px;
    	position: fixed;
    	z-index: 1;

		border-radius: 20px;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
	}

	.nav-item{
		display: flex;
	}

	.navigation .nav-item{
		border-radius: 6px;
	}

	.navigation .nav-item svg{
		width: 3rem;
		
	}

	.mg-top {
		margin-top: 20px;
		margin-bottom: 80px;
	}
	
}

@media (max-width: 400px) {
	html{
		font-size: 55%;
	}
}
