body{
    background-color: var(--primary-color); 
}

.navbar{
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}

.navbar .nav-item{
    color: var(--primary-font-color);
}

.btn{
    border: 1px solid var(--primary-font-color);
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary-font-color);
}

.btn:hover{
    background-color: var(--primary-font-color-op10);
}

h1{
    color: var(--tertiary-font-color);
}

h2, .text-link, .home-link{
    color: var(--primary-font-color);
}

h3, p, span, li{
    color: var(--secundary-font-color);
}


.svg-fill{
    stroke: none;
    fill: var(--primary-font-color);
}

.svg-stroke{
    fill: none;
    stroke: var(--primary-font-color);
}

.card-title{
    color: var(--primary-font-color);
}

.card-tag{
    background-color: var(--primary-color);
}

.card{
    background-color: var(--primary-color-light);
}

